<p id="notice"><%= notice %></p>


<div class="show">

<%= image_tag(@curso.imagen,size: '500x400')%> <br>	

<p><h1> <%= @curso.titulo %></h1></p>
<p> <%= @curso.descripcion %></p>
<p> <%= @curso.contenido %></p>
<p> Solo por el precio de <%= @curso.precio %>  Bolivares.</p>

</div>

<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', root_path %>